/* =Content
----------------------------------------------- */
.site{
	background-color: #FFF;
	margin: 0 auto;
	max-width: 1230px;
}
.site-branding {
	margin: 12px 0;
	max-width: 330px;
	float: left;
}
.site-content {
	margin: 0 auto;
	margin: 0 85px;
}
.site-main {
	height: 100%;
}
.content-area {
	margin: 0 auto;
}
.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*Projects Grid*/
.home {
	#main .hentry {
		margin-bottom: 1em;
		text-align: center;
		margin-left: 10px;
		margin-right: 10px;
		width: 220px;
		height: auto;
	
		// padding: 0px;
		// margin-right: 40px;
		// margin-bottom: 40px;
		// height: auto;

		.entry-content {
			margin: 0;
		}
	}
	.projects-container {
		height: 100%;
	}
}
