@media only screen and (max-width: 768px) {
	.single-post .entry-meta-top, 
	.blog .entry-meta-top, 
	.archive .entry-meta-top,
	.widget-area {
		display: none;
	}
	.site-main,
	.content-area,
	.single-post .entry-container, 
	.blog .entry-container, 
	.archive .entry-container, 
	.single-post .entry-content, 
	.blog .entry-content, 
	.archive .entry-content {
		float: none;
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {

}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
	/* For default screens */
	.navigation-main {

	}
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}

@media only screen and (min-device-width: 1281px) {
	/* For large screens */
}